<a href="https://colab.research.google.com/github/hecaguayo/Tarea1MLFBI/blob/master/Tarea_1_MLBI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Tarea 1 de MLBI 2020-1**
Hector Aguayo & Fabián Segura

# Importación de modulos requeridos

Se importan numpy, pandas, tensorflow, etc

In [44]:
from __future__ import absolute_import, division, print_function, unicode_literals
import os
import pathlib
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import logging
import numpy as np

os.environ['TF_CPP_MIN_VLOG_LEVEL'] = '0'
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'
logging.getLogger("tensorflow").setLevel(logging.WARNING)

from datetime import datetime
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
tf.get_logger().setLevel("ERROR")
tf.autograph.set_verbosity(2)

print("TensorFlow version: ", tf.__version__)

TensorFlow version:  2.2.0-rc3

Se deben leer los datos de los dataset envíados, el primero es un archivo .xls

# Leen los datos desde excel

Se abre archivo desde Github y se importan usando pandas

In [0]:
url = 'https://github.com/FxknTT/TareaMLBI1/blob/master/dataset1.xlsx?raw=true'
dataset = pd.read_excel(url)

Se verifica que ningun dato falte

In [79]:
dataset.isna().sum()

crr_Nom                     0
psu_Nem                     0
psu_Leng                    0
psu_Mate                    0
psu_Cie                     0
psu_Pond                    0
Longitud                    0
Latitud                     0
cred_apr                    0
distancia                   0
F                           0
M                           0
PARTICULAR_SUBVENCIONADO    0
PARTICULAR_PAGADO           0
MUNICIPAL                   0
cluster                     0
dtype: int64

Se debe alertar que "crr_Nom" es categorica, no numerica. Se convierte a un "one hot"

Cambiando las carrearas a filas one hot (variables dummy)

In [0]:
carreras = pd.get_dummies(dataset['crr_Nom'],prefix="Carrera")

Ahora obtenemos una nueva tabla llamada carrera en donde nos indica con valores 0 o 1 si pertenece o no a alguna Ingeniería.

In [81]:
carreras.head()

   Carrera_INGENIERIA CIVIL  ...  Carrera_INGENIERÍA CIVIL DE MINAS
0                         0  ...                                  0
1                         0  ...                                  0
2                         0  ...                                  0
3                         0  ...                                  0
4                         0  ...                                  0

[5 rows x 14 columns]

Ahora juntamos nuestra dataset original con la nueva tabla obtenida.

In [0]:
dataset = pd.concat([dataset, carreras], axis=1)

In [83]:
dataset.head()

                        crr_Nom  ...  Carrera_INGENIERÍA CIVIL DE MINAS
0   INGENIERIA CIVIL INDUSTRIAL  ...                                  0
1    INGENIERIA CIVIL BIOMEDICA  ...                                  0
2      INGENIERIA CIVIL QUIMICA  ...                                  0
3    INGENIERIA CIVIL ELECTRICA  ...                                  0
4  INGENIERIA CIVIL INFORMATICA  ...                                  0

[5 rows x 30 columns]

Como podemos observar aún tenemos la columna Crr_name. Como no la necesitamos más la eliminamos de nuestro dataset con el comando dataset.drop

In [0]:
dataset = dataset.drop(["crr_Nom"],axis=1)

In [85]:
dataset.head()

   psu_Nem  ...  Carrera_INGENIERÍA CIVIL DE MINAS
0      783  ...                                  0
1      799  ...                                  0
2      688  ...                                  0
3      605  ...                                  0
4      603  ...                                  0

[5 rows x 29 columns]

In [86]:
dataset.isna().sum() #Revisamos que todas las variables tengan datos.

psu_Nem                                           0
psu_Leng                                          0
psu_Mate                                          0
psu_Cie                                           0
psu_Pond                                          0
Longitud                                          0
Latitud                                           0
cred_apr                                          0
distancia                                         0
F                                                 0
M                                                 0
PARTICULAR_SUBVENCIONADO                          0
PARTICULAR_PAGADO                                 0
MUNICIPAL                                         0
cluster                                           0
Carrera_INGENIERIA CIVIL                          0
Carrera_INGENIERIA CIVIL - PLAN COMUN             0
Carrera_INGENIERIA CIVIL AEROESPACIAL             0
Carrera_INGENIERIA CIVIL BIOMEDICA                0
Carrera_INGENIERIA CIVIL DE MATERIALES            0
Carrera_INGENIERIA CIVIL ELECTRICA                0
Carrera_INGENIERIA CIVIL ELECTRONICA              0
Carrera_INGENIERIA CIVIL EN TELECOMUNICACIONES    0
Carrera_INGENIERIA CIVIL INDUSTRIAL               0
Carrera_INGENIERIA CIVIL INFORMATICA              0
Carrera_INGENIERIA CIVIL MECANICA                 0
Carrera_INGENIERIA CIVIL METALURGICA              0
Carrera_INGENIERIA CIVIL QUIMICA                  0
Carrera_INGENIERÍA CIVIL DE MINAS                 0
dtype: int64

**Ahora procedemos a realizar los mismos pasos anteriores con la variables CLUSTER.**

In [0]:
cluster = pd.get_dummies(dataset['cluster'],prefix="Cluster")

In [88]:
print(cluster)

      Cluster_C1  Cluster_C2  Cluster_C3  Cluster_C4
0              0           1           0           0
1              1           0           0           0
2              0           0           1           0
3              0           1           0           0
4              0           1           0           0
...          ...         ...         ...         ...
7861           0           1           0           0
7862           0           1           0           0
7863           0           0           1           0
7864           0           1           0           0
7865           0           0           0           1

[7866 rows x 4 columns]

In [0]:
dataset = pd.concat([dataset, cluster], axis=1)
dataset = dataset.drop(["cluster"],axis=1)

In [92]:
dataset.head()

   psu_Nem  psu_Leng  psu_Mate  ...  Cluster_C2  Cluster_C3  Cluster_C4
0      783       653       685  ...           1           0           0
1      799       705       713  ...           0           0           0
2      688       543       612  ...           0           1           0
3      605       598       658  ...           1           0           0
4      603       710       668  ...           1           0           0

[5 rows x 36 columns]

**Ya esta lista la limpieza de datos.**

# Definiendo rangos de entrenamiento y testeo

In [0]:
data_size = len(dataset)
train_pct = 0.8

train_size = int(data_size * train_pct)
print(train_size)

x_train, y_train = dataset[:train_size], y[:train_size]
x_test, y_test = dataset[train_size:], y[train_size:]

6292